# Angular output
/dist
/dist/*
/tmp
/out-tsc
/.angular/cache
/bazel-out
/angular.json

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase & sensitive config
.firebase/
.env
.env.*
*.local.ts
*.env.ts
*.secret.ts

# Test coverage & reports
/coverage
/libpeerconnection.log
testem.log

# Editors & OS files
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/
.DS_Store
Thumbs.db

# VS Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
